.workers-list {

    &__container {
        display: flex;
        flex-direction: column;
        padding: 40px 30px;
    }

    &__header {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 35px;
    }

    &__list {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &__header {
            display: grid;
            grid-template-columns: 1.2fr 0.7fr 0.7fr 0.7fr 1.7fr;
            gap: 10px;
            margin-bottom: 15px;
            
            &__name {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }

            &-text {
                font-family: "Ubuntu", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: black;
                font-size: 18px;
            }
        }
    }
}