.request-card {
    &__container {
        display: grid;
        grid-template-columns: 0.2fr 1.7fr 1fr 1fr;
        gap: 10px;
        background-color: #eff0f4;
        padding: 10px 7px;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: #d3d8ee;
        }
    }

    &__name, &__client, &__date, &__task {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 15px;
    }

    &__date, &__task {
        text-align: center;
    }

    &__task.error {
        color: red;
    }
}